.login_page{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #023802;
}

.login_page .login_page_title{
    display: flex;
    width: 180px;
    height: 60px;
    color: white;
    margin: 120px 0 60px 140px;
    font-size: 3rem;
}

.login_page .login_page_input_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 16px 60px 0 0;
}

.login_page .login_page_input_container .login_page_id_text{
    color: white;
    font-size: 1.2rem;
    margin-right: 12px;
}

.login_page .login_page_input_container .login_page_id_input{
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 3px;
    font-size: 1.1rem;
}

.login_page .login_page_sign_in_button{
    display: flex;
    margin: 30px 60px 0 auto;
}

.login_page .login_page_sign_in_error{
    display: flex;
    color: crimson;
    border-radius: 3px;
    background-color: white;
    opacity: 0.85;
    margin: 30px 60px 0 auto;
    padding: 10px;
    user-select: none;
}